tmp*
./.*.swp
*.o
*.so
*.gz
*.a
../output/*
../input/*
../doc/latex
../doc/html
../work/*
../work/.*
../old_armadillo/*
build/
../test/*.swp
../build/
.vscode/
.cache/
CMakeUserPresets.json
imsrg++.cc
imsrg++
local_settings.cmake
